<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
        <!-- <div class="container m-4 d-flex align-self-end justify-content-center">
            <div class="motto text-center">
                <button type="button" class="btn btn-outline-neutral btn-round "><i class="nc-icon nc-scissors"></i>&nbsp; Edit</button>
            </div>
        </div> -->
    </div>
    <div class="container">
        <div class="row">
            
            <div class="col-6">
                <div class="section contact-section">
                    <div class="mx-auto">
                        <form class="edit-form">
                            <h1 class="text-center">Send us a message</h1>
                            <br>
                            <br>
                            <h5 class="text-center">You can contact us with anything related to our Platform. We'll get in touch with you as soon as possible.</h5>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label>Your Name</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Your Name" (focus)="focus=true" (blur)="focus=false" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Email Address</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-email-85"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email Here" (focus)="focus=true" (blur)="focus=false" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Phone Number</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-mobile"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Phone Number Here" (focus)="focus=true" (blur)="focus=false" >
                                    </div>
                                </div>
                            </div>
                                
                            <label>Message</label>
                            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and beliefs"></textarea>
                            <div class="row">
                                <div class="mr-auto ml-auto">
                                    <button class="btn btn-danger btn-lg btn-fill">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <div class="container section contact-section">
                    <div class="column">
                        <div class="row">
                            <span class="col-2 text-center"> 
                                <h3 class="title text-center"><i class="nc-icon nc-pin-3" style="color: red;"></i></h3>
                            </span>
                            <span class="col-10">
                                <h3 class="title">Find us at the office</h3><br/>
                            </span>
                        </div>
                        <div class="row">
                            <span class="col-2"></span>
                            <span class="col-10">
                                <p class="description">
                                    Bld Mihail Kogalniceanu, nr. 8,<br>
                                    7652 Bucharest,<br>
                                    Romania 
                                </p>
                            </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="column">
                        <div class="row">
                            <span class="col-2 text-center"> 
                                <h3 class="title text-center"><i class="nc-icon nc-mobile" style="color: red;"></i></h3>
                            </span>
                            <span class="col-10">
                                <h3 class="title">Give us a ring</h3><br/>
                            </span>
                        </div>
                        <div class="row">
                            <span class="col-2"></span>
                            <span class="col-10">
                                <p class="description">
                                    Michael Jordan <br>
                                    +40 762 321 762 <br>
                                    Mon - Fri, 8:00-22:00
                                </p>
                            </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="column">
                        <div class="row">
                            <span class="col-2 text-center"> 
                                <h3 class="title text-center"><i class="nc-icon nc-email-85" style="color: red;"></i></h3>
                            </span>
                            <span class="col-10">
                                <h3 class="title">Drop us a mail</h3><br/>
                            </span>
                        </div>
                        <div class="row">
                            <span class="col-2"></span>
                            <span class="col-10">
                                <p class="description">
                                    yking9812@gmail.com
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
