<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row py-0">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <div class="mx-auto">
                            <img src="assets/img/logo.png" class="img-fluid img-thumbnail" style="max-width: 120px;" alt="">
                        </div>
                        <h2 class="title">Welcome</h2>
                        <!-- <div class="social-line text-center">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div> -->
                        
                        <form class="register-form">
                            <label>First Name</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="First Name" (focus)="focus=true" (blur)="focus=false" name="firstname" [(ngModel)]="firstname" required>
                            </div>
                            
                            <label>Last Name</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Last Name" (focus)="focus=true" (blur)="focus=false" name="lastname" [(ngModel)]="lastname" required>
                            </div>

                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" 
                                name="email" [(ngModel)]="email" #e_mail="ngModel" required pattern="[\w-]+@([\w-]+\.)+[\w-]+">
                            </div>
                            <div *ngIf = "e_mail.errors && (e_mail.invalid && e_mail.touched ) ">
                                <br>
                                <small class="text-primary" *ngIf="e_mail.errors.required">*Required</small>
                                <small class="text-primary" *ngIf ="e_mail.errors.pattern">Please Enter the valid email.</small>
                            </div>

                            <label>Username</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-satisfied"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" (focus)="focus=true" (blur)="focus=false" 
                                name="username"  [(ngModel)]="username" #user_name="ngModel" required (change)="change(username)" required>
                            </div>
                            <div *ngIf = "user_name.errors && (user_name.invalid && user_name.touched ) ">
                                <br>
                                <small class="text-primary" *ngIf="user_name.errors.required">*Required</small>
                                <small class="text-primary" *ngIf ="user_name.errors.pattern">Username already taken.</small>
                            </div>

                            <label>Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" (focus)="focus=true" (blur)="focus=false" name="password" [(ngModel)]="password" required>
                            </div>

                            <label>Confirm Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-glasses-2"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" placeholder=" Confirm Password" (focus)="focus1=true" (blur)="focus1=false" name="confirm_pswd" required>
                            </div>
                            
                            <button class="btn btn-danger btn-block btn-round" (click)="submit1()" [disabled]="validate">Sign Up</button>
                        
                        </form>
                        <!-- <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">
                <h6 class="pb-5">&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by 
                    <img src="assets/img/team_logo_symbol.png" style="max-width: 40px;" alt="">Team #3 Interactive
                </h6>
            </div>
            <!-- <div class="footer register-footer text-center">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by 
                    
                        <img src="assets/img/team_logo_symbol.png" style="max-width: 40px;" alt="">Team #3 Interactive
                </span>
            </div> -->
        </div>
    </div>
</div>