<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="col-12 title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/logo_symbol.png" class="rounded mx-auto d-block" alt="">
                    </div>
                    <h1 class="presentation-title">QA-Ngin</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center col-12">A Question Answer Social Forum Platform</h2>
            </div>
        </div>
        <!-- <div class="filter"></div> -->

        <!-- <div class="content-center">
            <div class="container">
                <div class="col-12 motto text-center">
                    <button type="button" class="btn btn-outline-neutral btn-round">Login</button>
                    <button type="button" class="btn btn-outline-neutral btn-round">Register</button>
                </div>
            </div>
        </div> -->
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by<img src="assets/img/team_logo_symbol.png" class="creative-logo" alt="">  Team #3 Interactive
        <!-- <h6 class="category category-absolute">Designed and coded by -->
        </h6>
    </div>
</div>
