.nav-down {
    position: fixed;
    top: 0;
    // transition: top .5s ease-in-out;
    //     transition-property: top;
    //     transition-duration: 0.5s;
    //     transition-timing-function: ease-in-out;
    //     transition-delay: 0s;
    width: 100%;
}