<div class="wrapper wrapper-feed">
    <div  class="main-feed">
        <div  class="section section-white my-5 mx-4">
            <div  class="container">
                <div  class="col-9 ml-auto mr-auto text-center"> 
                    <form class="edit-form">
                        <h2 class="text-center">Notifications</h2>
                    </form>
                </div>
            </div>
        </div>
        <div  class="section section-white mx-4" style="margin: -12rem;">
            <div  class="container">
                <div  class="col-10 ml-auto mr-auto text-center">                        
                    <ul  class="list-unstyled follows">
                        <li>
                            <div class="card-profile card cover">
                                <div class="row">
                                    <div  class="col-2 card-avatar mx-1 px-1">
                                        <img  alt="Circle Image" class="card-img img-circle img-thumbnail img-responsive" src="./assets/img/faces/ayo-ogunseinde-2.jpg">
                                    </div>
                                    <div  class="col-8 card-block m-1">
                                        <h5 class="float-left card-title">
                                            Erik Faker
                                        </h5>
                                        <p class="card-description text-left">
                                            Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news. Don't forget, You're Awesome!
                                        </p>
                                    </div>
                                    <div  class="col-2 card-symbol">
                                        <h6 class="text-center my-2">23:45 Sept 11</h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card-profile card cover ">
                                <div class="row">
                                    <div  class="col-2 card-avatar mx-1 px-1">
                                        <img  alt="Circle Image" class="card-img img-circle img-thumbnail img-responsive" src="./assets/img/faces/ayo-ogunseinde-2.jpg">
                                    </div>
                                    <div  class="col-8 card-block m-1">
                                        <h5 class="float-left card-title">
                                            Erik Faker
                                        </h5>
                                        <p class="card-description text-left">
                                            Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news. Don't forget, You're Awesome!
                                        </p>
                                    </div>
                                    <div  class="col-2 card-symbol">
                                        <h6 class="text-center my-2">23:45 Sept 11</h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card-profile card cover ">
                                <div class="row">
                                    <div  class="col-2 card-avatar mx-1 px-1">
                                        <img  alt="Circle Image" class="card-img img-circle img-thumbnail img-responsive" src="./assets/img/faces/ayo-ogunseinde-2.jpg">
                                    </div>
                                    <div  class="col-8 card-block m-1">
                                        <h5 class="float-left card-title">
                                            Erik Faker
                                        </h5>
                                        <p class="card-description text-left">
                                            Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news. Don't forget, You're Awesome!
                                        </p>
                                    </div>
                                    <div  class="col-2 card-symbol">
                                        <h6 class="text-center my-2">23:45 Sept 11</h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="card-profile card cover ">
                                <div class="row">
                                    <div  class="col-2 card-avatar mx-1 px-1">
                                        <img  alt="Circle Image" class="card-img img-circle img-thumbnail img-responsive" src="./assets/img/faces/ayo-ogunseinde-2.jpg">
                                    </div>
                                    <div  class="col-8 card-block m-1">
                                        <h5 class="float-left card-title">
                                            Erik Faker
                                        </h5>
                                        <p class="card-description text-left">
                                            Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news. Don't forget, You're Awesome!
                                        </p>
                                    </div>
                                    <div  class="col-2 card-symbol">
                                        <h6 class="text-center my-2">23:45 Sept 11</h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>